
.slider-container {
  position: relative;
  width: 100%;
  height: 300px;
  overflow: hidden;

}

.carousel {
  height: 100%;
  margin: 0;
  padding: 0;
}

.carousel-inner {
  height: 100%;
  margin: 0;
  padding: 0;
}

.carousel-item-no-padding {
  height: 100%;
  margin: 0;
  padding: 0;
}

.carousel-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
  margin: 0;
  padding: 0;
}

.carousel-caption h5 {
  background-color: rgba(0, 0, 0, 0.4);
  padding: 8px 12px;
  border-radius: 4px;
  margin-bottom: 0;
}


.custom-navigation {
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 150px;
  height: 48px;
  gap: 20px;
  z-index: 10;
  background: transparent;
}

.nav-dots {
  display: flex;
  gap: 10px;
  align-items: center;
}

.dot {
  width: 13.6px;
  height: 13.6px;
  border-radius: 50%;
  border: 1px solid #1D1B20;
  background: white;
  cursor: pointer;
  padding: 0;
  transition: all 0.3s ease;
}

.dot.active {
  background-color: #1D1B20;
}

.nav-arrow {
  background: transparent;
  border: none;
  width: 24px;
  height: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  padding: 0;
}

.arrow-icon {
  width: 100%;
  height: 100%;
  object-fit: contain;
}


.carousel-control-next,
.carousel-control-prev,
.carousel-indicators {
  display: none;
}

.slider-box {
  width: 807px;
  height: 498px;
  border: 2px solid #000;
  opacity: 1;
  border-radius: 8px;
  overflow: hidden;
}

.slider-container {
  width: 100%;
  height: 100%;
}

.carousel,
.carousel-inner,
.carousel-item,
.carousel-item-no-padding {
  height: 100%;
}

.carousel-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
