.filter-btn.active {
  border-bottom: 2px solid black;
}

.welcome-line-container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

.left-line,
.right-line {
  height: 3px;
  background-color: #3D3D3D;
  opacity: 1;
}

.left-line {
  width: 385px;
  margin-bottom: 15px; 
}

.right-line {
  width: 376px;
  margin-top: 20px; 
}

.welcome-text {
  color: #3D3D3D;
  font-size: 28px;
  margin: 0;
  white-space: nowrap;
}

