@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;500;600;700&display=swap');

body {
  font-family: 'Noto Sans', sans-serif;
  margin: 0;
  padding: 0;
    height: 100%;
}


.container-fluid {
  padding: 2rem;
}

button,
.card,
.carousel {
  border-radius: 0.5rem;
}

.card {
  transition: transform 0.2s;
}
.card:hover {
  transform: scale(1.02);
}
